@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --steps: 5;
  --primary-color:#095933;
  --black-color:#000;
  --white-color:#fff;
  --bg-gray:#f1f5f9;
  --red-color:#820906;
  --green-color:#5dd37c;
  --light-green:#d1ffd9;
  --text-color:#e7e7e7;
  --gray-color:#808080;
  --light-blue:#9edcf2;
  --dark-blue:#002863;
}

/* :root {
  --steps: 5;
  --primary-color:#8E1616;
  --black-color:#000;
  --white-color:#fff;
  --bg-gray:#f1f5f9;
  --red-color:#820906;
  --green-color:#D84040;
  --light-green:#d1ffd9;
  --text-color:#e7e7e7;
  --gray-color:#808080;
  --light-blue:#9edcf2;
  --dark-blue:#002863;
} */



*{box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
html, body {font-size: 14px; color: var(--black-color); background: var(--white-color); font-family: "Noto Sans", serif; font-weight: 400; line-height: 1.5; vertical-align: baseline; margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6,p,ul,li {margin: 0;}
small{font-size:100%;}
img{max-width:100%;}
button:focus{outline:none;}
a:focus{text-decoration:none;outline:0;}

.form-group{margin-bottom: 15px;}
.form-label{width: 100%; display: inline-block; font-size: 16px; color: var(--gray-color); font-weight: 600; padding: 0; background: transparent; margin-bottom: 10px;}
.form-control{width: 100%; font-size: 14px; color: var(--gray-color); font-family: "Noto Sans", serif; font-weight: 400; padding: 0 15px; height: 50px; border: 1px solid var(--gray-color); background: var(--white-color); border-radius: 5px;}
  
  
.form-search{width: 100%; font-size: 14px; color: var(--pra-color); font-family: "Noto Sans", serif; font-weight: 700; height: 60px; padding: 0 90px 0 30px; border: 1px solid var(--sslight-gray-color); background: var(--white-color); border-radius: 30px;}
textarea.form-control{resize:none; height: 50px;}
select option{color: var(--gray-color);}
input[type="text"]:focus, input[type="email"]:focus, input[type="phone"]:focus, input[type="number"]:focus {outline: 0px solid var(--gray-color);border: none; border: 1px solid var(--gray-color); box-shadow: 0 0 0; color: var(--gray-color);}
input[type="submit"]:focus {outline: 0; background: transparent; border-color: transparent; box-shadow: 0 0 0;}
select:focus {outline: 1px solid var(--gray-color);}
textarea:focus {outline: 1px solid var(--gray-color);}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: var(--gray-color); opacity: 1;}
input::-moz-placeholder, textarea::-moz-placeholder {color: var(--gray-color); opacity: 1;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: var(--gray-color); opacity: 1;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none;}
  /* // input[type="search"]::-webkit-search-cancel-button {display: none;} */
input[type="number"] {-moz-appearance: textfield;}
.form-control:focus {outline: 0px solid var(--gray-color);border: 1px solid var(--gray-color); box-shadow: 0 0 0; color: var(--gray-color);}
.form-control::placeholder {color: var(--gray-color); opacity: 1;}
.form-control::-ms-input-placeholder {color: var(--gray-color);}
.form-check{display: flex; align-items: center; gap: 10px; margin-bottom: 15px;}
.form-check .checkbox{width: 20px; height: 20px; margin: 0;}
.form-check label{font-size: 14px; color: var(--gray-color); font-weight: 400;}
.form-check:last-child{margin-bottom: 0;}

.d-flex{display: flex; flex-wrap: wrap; justify-content: space-between;}
.flex-col {flex-direction: column;}
.flex-auto {flex: 1 1 auto;}
.dflex{display: flex;}
.d-grid{display: grid; gap: 0px;}
.d-none{display: none;}
.d-block{display: block;}
.d-inline{display: inline-block;}
.flex{display: flex;}
.justify-content{justify-content: flex-start;}
.justify-end{justify-content: flex-end;}
.justify-center{justify-content: center;}
.align{align-items: center;}
.relative{position: relative;}
.text-center{text-align: center;}
.full-image {position: absolute; top: 0; left: 0; right: 0; bottom: 0; -o-object-fit: cover; object-fit: cover; width: 100%; height: 100%;}
.hovertime{transition: ease-in-out .5s; -webkit-transition: all 0.6s ease-in-out;-moz-transition: ease-in-out .5s; -o-transition: ease-in-out .5s;}
body.scroll{overflow-y: hidden;}
.picture {line-height: 0; display: block;}
.table-responsive {overflow-x: auto;-webkit-overflow-scrolling: touch;}
tbody, td, tfoot, th, thead, tr {
  border-style: solid;
  border-width: 0;
}
.table_custom_wrap {
  text-align: center;
  border-collapse: inherit;
  width: 100%;
}
.table>tbody {
  vertical-align: inherit;
}
.table-bordered>:not(caption)>* {
  border-width: 1px 0;
  border-color: #c2c2c2;
}
.table_custom_wrap tbody tr {
  background-color: #f6f6f6;
}
.attriheading{font-size: 46px;}
.attrilgheading{font-size: 36px;}
.attrimdheading{font-size: 28px;}
.attrismheading{font-size: 24px;}
.attrixsheading{font-size: 20px;}
.attrixxsheading{font-size:18px;}

.container {width: 100%;max-width: 95%;margin: 0 auto;padding: 0 15px;}
.padding-tb{padding: 60px 0;}
.padding-tb-lg{padding: 40px 30px;}
.display{display: inline-block;}


.anchor-button{font-size: 14px; font-family: "Noto Sans", serif; font-weight: 500; color: var(--white-color); text-align: center; text-transform: capitalize; padding: 12px 30px; background: var(--green-color); border: 1px solid transparent; border-radius: 6px; cursor: pointer;}
.anchor-button:hover{background: transparent; border-color: var(--green-color); color: var(--green-color);}

.anchor-button-line{font-size: 14px; font-family: "Noto Sans", serif; color: var(--green-color); font-weight: 600; text-transform: capitalize; display: flex; align-items: center; gap: 10px; border-color: var(--green-color); cursor: pointer; text-decoration: none; background: transparent;}
.anchor-button-line span{width: 34px; height: 34px; background: var(--green-color); font-size: 0px; border-radius: 50%; cursor: pointer; position: relative; display: block; transition: transform .3s ease-in-out;}
.anchor-button-line span::after{content: ""; position: absolute; top: 12px; left: 11px; height: 10px; width: 10px; border-top: 3px solid #fff;border-right: 3px solid #fff; transform: rotate(45deg);pointer-events: none; border-radius: 1px;}
.anchor-button-line:hover{color: var(--green-color);}
.anchor-button-line:hover span{transform: translate(5px);}


.bg-gray{background: var(--primary-color);}
.white-bg{background: var(--white-color);}

.w-full{width: 100% !important; height: auto;}
.full-box{width: 100% !important;}
.card-shadow{box-shadow: 0 4px 70px rgba(200, 234, 244, 0.5);}
.one-line{overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}
.thumb-ratio{padding-bottom: 50%; position: relative;}
/* pagination styling */
.pagination a {margin: 5px;width: 58px;height: 58px;font-weight: 700; color: var(--pra-color);font-size: 20px; border-radius: 50%; display: inline-flex;align-items: center;text-decoration: none;justify-content: center;}
.pagination a:first-child, .pagination a:last-child {font-size: 0;position: relative;}
.pagination a:first-child:hover, .pagination a:last-child:hover{background: transparent;}
.pagination a:first-child::after, .pagination a:last-child::after{content: ''; position: absolute; top: -12px; left: 0; right: 0; bottom: 0; margin: auto; width: 10px; height: 10px; border-top: 2px solid var(--pra-color); border-left: 2px solid var(--pra-color); transform: rotate(-45deg);}
.pagination a:last-child::after{transform: rotate(135deg);}
.pagination a.currpage, .pagination a:hover {background-color:var(--blue-color); color: #fff;}
.pagination a.disabled {background: var(--pra-color);cursor: no-drop;}
.slick-dots {display: flex !important;position: absolute; bottom: 30px;left: 0;right: 0;margin: auto; align-items: center; justify-content: center; z-index: 1;padding: 0;}
.slick-dots li {margin: 5px;cursor: pointer; line-height: 0; display: block; font-size: 0; width: 8px; height: 8px; border-radius: 20px;background-color: var(--gray-color);}
.slick-dots li.slick-active {width: 30px; background-color: var(--bg-gray);}
.slick-dots li button {display: none;}
/* .slick-dotted.slick-slider { margin-bottom: 30px;} */
.slick-next, .slick-prev {font-size: 0; color: transparent !important; border: 0; width: 40px; height: 40px; border-radius: 50%; position: absolute; top: 50%; left: 0; margin-top: -20px; background-color: transparent; z-index: 12; cursor: pointer;}
.slick-next::after, .slick-prev::after {content: ""; width: 100%; height: 100%; position: absolute; top: 50%; left: 42%; transform: translate(-40%, -50%); margin: auto; background: url(../../public/assets/images/icon/slider-left-arrow.svg) no-repeat; background-size: 100%; border-radius: 50%; transition: ease-in-out 0.5s; -webkit-transition: all 0.6s ease-in-out; -moz-transition: ease-in-out 0.5s; -o-transition: ease-in-out 0.5s;}
.slick-next::after {background: url(../../public/assets/images/icon/slider-right-arrow.svg) no-repeat; background-size: 100%;}
.slick-next {left: auto; right: 0;}
.slick-prev:hover::after {background: url(../../public/assets/images/icon/slider-left-arrow-hover.svg) no-repeat;  background-size: 100%;}
.slick-next:hover::after {background: url(../../public/assets/images/icon/slider-right-arrow-hover.svg) no-repeat; background-size: 100%;}
.slider-center-arrow .slick-next,.slider-center-arrow .slick-prev {top: 50%;left: -5px;right: auto; margin-top: -30px;}
.slider-center-arrow .slick-next {left: auto; right: -5px; background-position: 0 -190px;}
.slider-lr .slick-prev {right: 60px;}
.slider-lr .slick-next {right: 0px;}
.discover-slider.slick-initialized .slick-slide {transition: ease-in-out 0.5s;}
.slider-rl {margin: 0px -15px;}
.slider-rl .item{padding: 0px 15px;}
.slider-height .slick-track{display: flex;}
.slider-height .slick-slide{height: inherit;}
.slider-height .slick-slide > div, .slider-height .slick-slide .item{height: 100%;}
.text-twoline{overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1;-webkit-box-orient: vertical;}
/* end of pagination */

.heading-top{margin-bottom: 30px;}
.heading-top .attriheading{color: var(--primary-color); font-weight: 600; font-style: italic;}
.heading-top.white-top .attriheading{color: var(--white-color);}

.custom-tab{border-bottom: 1px solid var(--gray-color); margin-bottom: 30px;}
.custom-tab .tabs{font-size: 16px; color: var(--gray-color); font-weight: 700; text-transform: uppercase; border-bottom: 4px solid transparent; padding: 10px 25px; cursor: pointer;}
.custom-tab .tabs.active{border-color: var(--green-color); color: var(--black-color);}
.content-tab{display: none;}
.content-tab.active{display: block;}

.inner-banner::after{content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(0,0,0,.3);}
.inner-banner .attrilgheading{color: var(--white-color); font-weight: 600; text-align: center; text-transform: capitalize; width: 600px; position: absolute; top: 50%; left: 0; right: 0; margin: auto; transform: translate(0px, -50%); z-index: 1; }

/* home-banner start */
.home-banner{line-height: 0;}
.homebannerslider .slick-dots{bottom: 20px;}
.homebannerslider .slick-dots li{background-color: var(--green-color);}
.slick-dots li.slick-active{background-color: var(--primary-color);}
/* home-banner end */

/* nutrition-start */
.nutrition{background: var(--light-green);}
.nutrition-main{width: 80%; gap: 40px; margin: 0 auto;}
.nutrition-card{gap: 20px;}
.nutrition-card .nutrition-icon{width: 65px; height: 65px; border-radius: 50%; background: var(--primary-color);}
.nutrition-card .attrixxsheading{max-width: 120px; color: var(--primary-color); font-weight: 700; text-transform: capitalize;}
/* nutrition-end */
.newproduct-sec .newproduct:last-child{padding-bottom: 60px;}
/* take-start */
.take-main{flex-wrap: nowrap;}
.take-main .take-left{width: 350px; min-width: 350px;}
.take-left .attriheading{font-size: 60px; font-weight: 600; color: var(--white-color); text-transform: capitalize; line-height: 76px; font-style: italic; margin-bottom: 16px; }
.take-left p{font-size: 16px; font-weight: 400; color: var(--white-color); margin-bottom: 25px;}
.take-left .anchor-button{width: 200px;}
.take-right{align-content: center; gap: 30px 0;}
.take-card{width: calc((100% - 240px) / 2); justify-content: flex-start; flex-wrap: nowrap; align-items: center; gap: 40px 20px;}
.take-card .take-icon{width: 120px; min-width: 120px; height: 120px; border-radius: 50%; background: var(--green-color); margin-right: 15px;}
.take-card .attrixxsheading{max-width: 200px; font-weight: 700; color: var(--white-color);}
/* take-end */

/* havefun-start */
.have-box{background: var(--light-green);}
.have-main{width: 480px; margin: 0 auto;}
.have-main .attrixxsheading{color: var(--primary-color); font-weight: 600; margin-bottom: 10px;}
.have-main .attriheading{color: var(--primary-color); font-weight: 700; font-style: italic; line-height: 60px;}
/* havefun-end */

/* why-section-start */
.why-main{gap: 30px 0px; margin: 0 -20px;}
.why-card{width: 50%; grid-template-columns: 1fr 4fr; gap: 10px; padding: 0 20px;}
.why-card .why-icon{width: 150px; height: 150px; border-radius: 50%; background: var(--green-color); margin-right: 25px;}
.why-card .why-content .attrixxsheading{font-weight: 700; color: var(--white-color);}
.why-card .why-content p{color: var(--white-color); opacity: .7;}
/* why-section-end */

/* footer-start */
.footer-left{width: 490px; min-width: 490px;}
.footer-left .footer-logo svg{width: 160px; height: 50px; margin-bottom: 30px;}
.footer-left .footer-app{gap: 25px; margin-bottom: 15px;}
.footer-signup .attrixsheading{color: var(--white-color); font-weight: 600; margin-bottom: 15px;}
.footer-signup .anchor-button{width: 225px;}
.footer-signup p{color: var(--text-color); margin-top: 10px;}

.footer-right{flex-wrap: nowrap; gap: 60px;}
.footer-right .footer-col .attrixxsheading{color: var(--white-color); font-weight: 600; margin-bottom: 10px;}
.footer-right .footer-col .attrixxsheading span{display: none;}
.footer-right .footer-col .footer-list{padding: 0; margin: 0; list-style: none;}
.footer-right .footer-col .footer-list li{margin-bottom: 5px;}
.footer-right .footer-col .footer-list li a{font-size: 14px; color: var(--text-color); font-weight: 400; text-decoration: none; opacity: .7;}
.footer-right .footer-col .footer-list li:last-child{margin-bottom: 0;}
.footer-right .footer-col{margin-bottom: 30px;}
.footer-right .footer-col:last-child{margin-bottom: 0;}
/* footer-end */

/* signup-page */
.sign-main{width: 80%; border-radius: 20px; overflow: hidden; box-shadow: 0 0px 10px rgba(0,0,0,.2); margin: auto;}
.sign-left{width: 55%;}
.sign-right{width: 45%; padding: 30px;} 
.sign-right .sign-top{margin-bottom: 20px}
/* .signup-step-one{display: none;} */
.sign-right .attrilgheading{font-weight: 700; margin-bottom: 10px;}
.sign-right p{font-size: 16px; font-weight: 500; display: flex; justify-content: flex-start; align-items: center; gap: 10px;}
.sign-right p span{display: inline-block; background: var(--green-color); font-size: 14px; color: var(--white-color); border-radius: 50px; padding: 5px 20px;}
/* .sign-right .anchor-button{width: 100%;} */
.signup-step-two{ align-content: center; flex-wrap: wrap; align-items: center; justify-content: center; height: 100%;}
.signup-step-two .verifi{color: var(--gray-color); margin-bottom: 10px;}
.signup-step-two .verifi .verifi-number{font-size: 16px; font-weight: 700; display: flex; align-items: center;}
.signup-step-two .editbtn{font-size: 12px; color: var(--green-color); border: 1px solid var(--green-color); border-radius: 50px; padding: 2px 8px;}
.signup-step-two .otp-code{gap: 10px; margin:10px 0 20px;}
.signup-step-two .otp-input{width: 25%; height: 48px; font-size: 26px; border: 1px solid var(--gray-color); border-radius: 8px; text-align: center;}
.signup-step-two .resend{width: 100%; color: var(--green-color); display: flex; align-items: center; justify-content: center; gap: 5px;}
.signup-step-two .resend svg path{stroke: var(--green-color);}
.sign-right .signup-step-two p{justify-content: center;}
/* signup-page-end */

.search-box .plp-list{padding: 0;}
.search-box .plp-right p{text-align: center; margin-bottom: 20px;}

@media only screen and (min-width: 1919px) {
  .container {max-width: 1699px;}
}
@media only screen and (max-width: 1399px) {
.sign-left{width: 60%;}
.sign-right{width: 40%;}
}
@media only screen and (max-width: 1199px) {
.container{max-width: 100%;}
.attriheading{font-size: 36px;}
.attrilgheading{font-size: 30px;}
.attrimdheading{font-size: 24px;}
.attrismheading{font-size: 20px;}
.attrixsheading{font-size: 16px;}
.attrixxsheading{font-size:14px;}
.padding-tb{padding: 40px 0;}

.nutrition-main{width: 100%; gap: 20px;}
.take-right{align-content: center; gap: 20px 0px;}
.take-card{width: 50%; gap: 20px 10px;}
.take-card .take-icon{width: 100px; min-width: 100px; height: 100px; margin-right: 0px;}
.have-main .attriheading{line-height: 50px;}
.footer-left{width: 40%; min-width: 40%;}
.why-card{align-items: flex-start;}
.why-card .why-icon {width: 100px; height: 100px; margin-right: 15px;}
.sign-main{width: 100%;}
}

@media only screen and (max-width: 767px) {
.attriheading{font-size: 30px;}
.attrilgheading{font-size: 26px;}

.heading-top{margin-bottom: 20px;}
.heading-top .attriheading{line-height: 34px;}
.custom-tab .tabs{font-size: 14px; padding: 10px 15px;}
.inner-banner .attrilgheading{width: 80%; text-align: center;}

.nutrition-main{width: 100%; gap: 0px;}
.nutrition-card{width: 33.33%; text-align: center; padding: 0 10px; gap: 10px;}
.nutrition-card .nutrition-icon {margin: 0 auto;}
.nutrition-card .attrixxsheading{width: 100%; max-width: 100%; font-size: 14px;}

.bestseller .custom-tab{width: 100%; overflow-x: auto;white-space: nowrap; display: block;}
.bestseller .custom-tab .tabs{display: inline-block;}

.take-main{flex-wrap: wrap;}
.take-main .take-left{width: 100%; min-width: 100%; margin-bottom: 30px;}
.take-left .attriheading{font-size: 40px; line-height: 46px;}
.take-right{justify-content: center; gap: 20px 10px;}
.take-card{width: 48%; gap: 20px 10px;}
.take-card .take-icon{width: 80px; min-width: 80px; height: 80px; margin-right: 5px;}
.take-card .attrixxsheading{font-size: 14px; max-width: 90px;}

.have-main{width: 100%;}
.have-main .attriheading{line-height: 40px;}

.footer-left{width: 100%; min-width: 100%;}
.footer-left .footer-app{gap: 15px;}
.footer-app a{width: 45%;}
.footer-signup{text-align: center; margin-bottom: 20px;}
.footer-signup .anchor-button{width: 100%;}
.footer-right{width: 100%; flex-wrap: wrap; gap: 0;}
.footer-right .item{width: 100%;}
.footer-right .footer-col{border-top: 1px solid var(--white-color); padding: 15px 0; margin-bottom: 0px;}
.footer-right .footer-col:last-child {margin-bottom: 0px;}
.footer-right .footer-col .attrixxsheading{margin-bottom: 0;}
.footer-right .footer-col .attrixxsheading span{display: block;}
.footer-right .footer-col .attrixxsheading span svg path{fill: var(--white-color);}
.footer-right .footer-col .footer-list{border-top: 1px solid var(--white-color); padding-top: 15px;margin-top: 15px; display: none;}
.footer-right .footer-col.active .footer-list{display: block;}

.why-main {gap: 20px 0;}
.why-card{width: 100%; align-items: flex-start;}
.why-card .why-icon{width: 90px; height: 90px; margin-right: 10px;}

.sign-main{width: 80%;}
.sign-left{width: 100%; order: 2;}
.sign-right{width: 100%; padding: 30px;}
}