@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --steps: 5;
  --primary-color:#095933;
  --black-color:#000;
  --white-color:#fff;
  --bg-gray:#f1f5f9;
  --red-color:#820906;
  --green-color:#5dd37c;
  --light-green:#d1ffd9;
  --text-color:#e7e7e7;
  --gray-color:#808080;
  --light-blue:#9edcf2;
  --dark-blue:#002863;
}





*{box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
html, body {font-size: 14px; color: var(--black-color); background: var(--white-color); font-family: "Noto Sans", serif; font-weight: 400; line-height: 1.5; vertical-align: baseline; margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6,p,ul,li {margin: 0;}
small{font-size:100%;}
img{max-width:100%;}
button:focus{outline:none;}
a:focus{text-decoration:none;outline:0;}

.form-group{margin-bottom: 15px;}
.form-label{width: 100%; display: inline-block; font-size: 16px; color: var(--gray-color); font-weight: 600; padding: 0; background: transparent; margin-bottom: 10px;}
.form-control{width: 100%; font-size: 14px; color: var(--gray-color); font-family: "Noto Sans", serif; font-weight: 400; padding: 0 15px; height: 50px; border: 1px solid var(--gray-color); background: var(--white-color); border-radius: 5px;}
  
  
.form-search{width: 100%; font-size: 14px; color: var(--pra-color); font-family: "Noto Sans", serif; font-weight: 700; height: 60px; padding: 0 90px 0 30px; border: 1px solid var(--sslight-gray-color); background: var(--white-color); border-radius: 30px;}
textarea.form-control{resize:none; height: 50px;}
select option{color: var(--gray-color);}
input[type="text"]:focus, input[type="email"]:focus, input[type="phone"]:focus, input[type="number"]:focus {outline: 0px solid var(--gray-color);border: none; border: 1px solid var(--gray-color); box-shadow: 0 0 0; color: var(--gray-color);}
input[type="submit"]:focus {outline: 0; background: transparent; border-color: transparent; box-shadow: 0 0 0;}
select:focus {outline: 1px solid var(--gray-color);}
textarea:focus {outline: 1px solid var(--gray-color);}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: var(--gray-color); opacity: 1;}
input::-moz-placeholder, textarea::-moz-placeholder {color: var(--gray-color); opacity: 1;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: var(--gray-color); opacity: 1;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none;}
  /* // input[type="search"]::-webkit-search-cancel-button {display: none;} */
input[type="number"] {-moz-appearance: textfield;}
.form-control:focus {outline: 0px solid var(--gray-color);border: 1px solid var(--gray-color); box-shadow: 0 0 0; color: var(--gray-color);}
.form-control::placeholder {color: var(--gray-color); opacity: 1;}
.form-control::-ms-input-placeholder {color: var(--gray-color);}
.form-check{display: flex; align-items: center; gap: 10px; margin-bottom: 15px;}
.form-check .checkbox{width: 20px; height: 20px; margin: 0;}
.form-check label{font-size: 14px; color: var(--gray-color); font-weight: 400;}
.form-check:last-child{margin-bottom: 0;}

.d-flex{display: flex; flex-wrap: wrap; justify-content: space-between;}
.flex-col {flex-direction: column;}
.flex-auto {flex: 1 1 auto;}
.dflex{display: flex;}
.d-grid{display: grid; gap: 0px;}
.d-none{display: none;}
.d-block{display: block;}
.d-inline{display: inline-block;}
.flex{display: flex;}
.justify-content{justify-content: flex-start;}
.justify-end{justify-content: flex-end;}
.justify-center{justify-content: center;}
.align{align-items: center;}
.relative{position: relative;}
.text-center{text-align: center;}
.full-image {position: absolute; top: 0; left: 0; right: 0; bottom: 0; -o-object-fit: cover; object-fit: cover; width: 100%; height: 100%;}
.hovertime{transition: ease-in-out .5s; -webkit-transition: all 0.6s ease-in-out;-moz-transition: ease-in-out .5s; -o-transition: ease-in-out .5s;}
body.scroll{overflow-y: hidden;}
.picture {line-height: 0; display: block;}
.table-responsive {overflow-x: auto;-webkit-overflow-scrolling: touch;}
tbody, td, tfoot, th, thead, tr {
  border-style: solid;
  border-width: 0;
}
.table_custom_wrap {
  text-align: center;
  border-collapse: inherit;
  width: 100%;
}
.table>tbody {
  vertical-align: inherit;
}
.table-bordered>:not(caption)>* {
  border-width: 1px 0;
  border-color: #c2c2c2;
}
.table_custom_wrap tbody tr {
  background-color: #f6f6f6;
}
.attriheading{font-size: 46px;}
.attrilgheading{font-size: 36px;}
.attrimdheading{font-size: 28px;}
.attrismheading{font-size: 24px;}
.attrixsheading{font-size: 20px;}
.attrixxsheading{font-size:18px;}

.container {width: 100%;max-width: 95%;margin: 0 auto;padding: 0 15px;}
.padding-tb{padding: 60px 0;}
.padding-tb-lg{padding: 40px 30px;}
.display{display: inline-block;}


.anchor-button{font-size: 14px; font-family: "Noto Sans", serif; font-weight: 500; color: var(--white-color); text-align: center; text-transform: capitalize; padding: 12px 30px; background: var(--green-color); border: 1px solid transparent; border-radius: 6px; cursor: pointer;}
.anchor-button:hover{background: transparent; border-color: var(--green-color); color: var(--green-color);}

.anchor-button-line{font-size: 14px; font-family: "Noto Sans", serif; color: var(--green-color); font-weight: 600; text-transform: capitalize; display: flex; align-items: center; gap: 10px; border-color: var(--green-color); cursor: pointer; text-decoration: none; background: transparent;}
.anchor-button-line span{width: 34px; height: 34px; background: var(--green-color); font-size: 0px; border-radius: 50%; cursor: pointer; position: relative; display: block; transition: transform .3s ease-in-out;}
.anchor-button-line span::after{content: ""; position: absolute; top: 12px; left: 11px; height: 10px; width: 10px; border-top: 3px solid #fff;border-right: 3px solid #fff; transform: rotate(45deg);pointer-events: none; border-radius: 1px;}
.anchor-button-line:hover{color: var(--green-color);}
.anchor-button-line:hover span{transform: translate(5px);}
.anchor-button:disabled{background: var(--gray-color); color: var(--white-color)}


.bg-gray{background: var(--primary-color);}
.white-bg{background: var(--white-color);}

.w-full{width: 100% !important; height: auto;}
.full-box{width: 100% !important;}
.card-shadow{box-shadow: 0 4px 70px rgba(200, 234, 244, 0.5);}
.one-line{overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}
.thumb-ratio{padding-bottom: 50%; position: relative;}
/* pagination styling */
.pagination a {margin: 5px;width: 58px;height: 58px;font-weight: 700; color: var(--pra-color);font-size: 20px; border-radius: 50%; display: inline-flex;align-items: center;text-decoration: none;justify-content: center;}
.pagination a:first-child, .pagination a:last-child {font-size: 0;position: relative;}
.pagination a:first-child:hover, .pagination a:last-child:hover{background: transparent;}
.pagination a:first-child::after, .pagination a:last-child::after{content: ''; position: absolute; top: -12px; left: 0; right: 0; bottom: 0; margin: auto; width: 10px; height: 10px; border-top: 2px solid var(--pra-color); border-left: 2px solid var(--pra-color); transform: rotate(-45deg);}
.pagination a:last-child::after{transform: rotate(135deg);}
.pagination a.currpage, .pagination a:hover {background-color:var(--blue-color); color: #fff;}
.pagination a.disabled {background: var(--pra-color);cursor: no-drop;}
.slick-dots {display: flex !important;position: absolute; bottom: 30px;left: 0;right: 0;margin: auto; align-items: center; justify-content: center; z-index: 1;padding: 0;}
.slick-dots li {margin: 5px;cursor: pointer; line-height: 0; display: block; font-size: 0; width: 8px; height: 8px; border-radius: 20px;background-color: var(--gray-color);}
.slick-dots li.slick-active {width: 30px; background-color: var(--bg-gray);}
.slick-dots li button {display: none;}
/* .slick-dotted.slick-slider { margin-bottom: 30px;} */
.slick-next, .slick-prev {font-size: 0; color: transparent !important; border: 0; width: 40px; height: 40px; border-radius: 50%; position: absolute; top: 50%; left: 0; margin-top: -20px; background-color: transparent; z-index: 12; cursor: pointer;}
.slick-next::after, .slick-prev::after {content: ""; width: 100%; height: 100%; position: absolute; top: 50%; left: 42%; transform: translate(-40%, -50%); margin: auto; background: url(../../public/assets/images/icon/slider-left-arrow.svg) no-repeat; background-size: 100%; border-radius: 50%; transition: ease-in-out 0.5s; -webkit-transition: all 0.6s ease-in-out; -moz-transition: ease-in-out 0.5s; -o-transition: ease-in-out 0.5s;}
.slick-next::after {background: url(../../public/assets/images/icon/slider-right-arrow.svg) no-repeat; background-size: 100%;}
.slick-next {left: auto; right: 0;}
.slick-prev:hover::after {background: url(../../public/assets/images/icon/slider-left-arrow-hover.svg) no-repeat;  background-size: 100%;}
.slick-next:hover::after {background: url(../../public/assets/images/icon/slider-right-arrow-hover.svg) no-repeat; background-size: 100%;}
.slider-center-arrow .slick-next,.slider-center-arrow .slick-prev {top: 50%;left: -5px;right: auto; margin-top: -30px;}
.slider-center-arrow .slick-next {left: auto; right: -5px; background-position: 0 -190px;}
.slider-lr .slick-prev {right: 60px;}
.slider-lr .slick-next {right: 0px;}
.discover-slider.slick-initialized .slick-slide {transition: ease-in-out 0.5s;}
.slider-rl {margin: 0px -15px;}
.slider-rl .item{padding: 0px 15px;}
.slider-height .slick-track{display: flex;}
.slider-height .slick-slide{height: inherit;}
.slider-height .slick-slide > div, .slider-height .slick-slide .item{height: 100%;}
.text-twoline{overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1;-webkit-box-orient: vertical;}
/* end of pagination */

.heading-top{margin-bottom: 30px;}
.heading-top .attriheading{color: var(--primary-color); font-weight: 600; font-style: italic;}
.heading-top.white-top .attriheading{color: var(--white-color);}

.custom-tab{border-bottom: 1px solid var(--gray-color); margin-bottom: 30px;}
.custom-tab .tabs{font-size: 16px; color: var(--gray-color); font-weight: 700; text-transform: uppercase; border-bottom: 4px solid transparent; padding: 10px 25px; cursor: pointer;}
.custom-tab .tabs.active{border-color: var(--green-color); color: var(--black-color);}
.content-tab{display: none;}
.content-tab.active{display: block;}

.inner-banner .picture::after{content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(0,0,0,.3);}
.inner-banner .attrilgheading{color: var(--white-color); font-weight: 600; text-align: center; text-transform: capitalize; width: 600px; position: absolute; top: 50%; left: 0; right: 0; margin: auto; transform: translate(0px, -50%); z-index: 1; }

.bottom-body .footer{padding-bottom: 150px;}
.bottom-sticky{width: 100%; position: fixed; bottom: 0; left: 0; background: var(--light-green); padding: 20px; border-radius: 10px; z-index: 12;}
.bottom-sticky .attrixsheading{color: var(--black-color); font-weight: 700;}
/* home-banner start */
.home-banner{line-height: 0;}
.homebannerslider .slick-dots{bottom: 20px;}
.homebannerslider .slick-dots li{background-color: var(--green-color);}
.slick-dots li.slick-active{background-color: var(--primary-color);}
.home-banner{height: auto;}

/* home-banner end */

/* nutrition-start */
.nutrition{background: var(--light-green);}
.nutrition-main{width: 80%; gap: 40px; margin: 0 auto;}
.nutrition-card{gap: 20px;}
.nutrition-card .nutrition-icon{width: 65px; height: 65px; border-radius: 50%; background: var(--primary-color); overflow: hidden;}
.nutrition-card .attrixxsheading{max-width: 120px; color: var(--primary-color); font-weight: 700; text-transform: capitalize;}
/* nutrition-end */
.newproduct-sec .newproduct:last-child{padding-bottom: 60px;}
/* take-start */
.take-main{flex-wrap: nowrap;}
.take-main .take-left{width: 420px; min-width: 420px;}
.take-left .attriheading{font-size: 60px; font-weight: 600; color: var(--white-color); text-transform: capitalize; line-height: 76px; font-style: italic; margin-bottom: 16px; }
.take-left p{font-size: 16px; font-weight: 400; color: var(--white-color); margin-bottom: 25px;}
.take-left .anchor-button{width: 200px;}
.take-right{align-content: center; gap: 30px 0;}
.take-card{width: calc((100% - 240px) / 2); justify-content: flex-start; flex-wrap: nowrap; align-items: center; gap: 40px 20px;}
.take-card .take-icon{width: 120px; min-width: 120px; height: 120px; border-radius: 50%; background: var(--green-color); margin-right: 15px; overflow: hidden;}
.take-card .attrixxsheading{max-width: 200px; font-weight: 700; color: var(--white-color);}
/* take-end */

/* havefun-start */
.have-box{background: var(--light-green);}
.have-main{width: 480px; margin: 0 auto;}
.have-main .attrixxsheading{color: var(--primary-color); font-weight: 600; margin-bottom: 10px;}
.have-main .attriheading{color: var(--primary-color); font-weight: 700; font-style: italic; line-height: 60px;}
/* havefun-end */

/* why-section-start */
.why-main{gap: 30px 0px; margin: 0 -20px;}
.why-card{width: 50%; grid-template-columns: 1fr 4fr; gap: 10px; padding: 0 20px;}
.why-card .why-icon{width: 150px; height: 150px; border-radius: 50%; background: var(--green-color); margin-right: 25px; overflow: hidden;}
.why-card .why-content .attrixxsheading{font-weight: 700; color: var(--white-color);}
.why-card .why-content p{color: var(--white-color); opacity: .7;}
/* why-section-end */

/* footer-start */
.footer-left{width: 490px; min-width: 490px;}
.footer-left .footer-logo{width: 160px; margin-bottom: 30px;}
.footer-left .footer-app{gap: 25px; margin-bottom: 15px;}
.footer-signup .attrixsheading{color: var(--white-color); font-weight: 600; margin-bottom: 15px;}
.footer-signup .anchor-button{width: 225px;}
.footer-signup p{color: var(--text-color); margin-top: 10px;}

.footer-right{flex-wrap: nowrap; gap: 60px;}
.footer-right .footer-col .attrixxsheading{color: var(--white-color); font-weight: 600; margin-bottom: 10px;}
.footer-right .footer-col .attrixxsheading span{display: none;}
.footer-right .footer-col .footer-list{padding: 0; margin: 0; list-style: none;}
.footer-right .footer-col .footer-list li{margin-bottom: 5px;}
.footer-right .footer-col .footer-list li a{font-size: 14px; color: var(--text-color); font-weight: 400; text-decoration: none; opacity: .7;}
.footer-right .footer-col .footer-list li:last-child{margin-bottom: 0;}
.footer-right .footer-col{margin-bottom: 30px;}
.footer-right .footer-col:last-child{margin-bottom: 0;}
/* footer-end */

/* signup-page */
.sign-main{width: 80%; border-radius: 20px; overflow: hidden; box-shadow: 0 0px 10px rgba(0,0,0,.2); margin: auto;}
.sign-left{width: 55%;}
.sign-right{width: 45%; padding: 30px;} 
.sign-right .sign-top{margin-bottom: 20px}
/* .signup-step-one{display: none;} */
.sign-right .attrilgheading{font-weight: 700; margin-bottom: 10px;}
.sign-right p{font-size: 10px; font-weight: 500; display: flex; justify-content: flex-start; align-items: center; gap: 10px;}
.sign-right p span{display: inline-block; font-size: 12px; color: var(--white-color); border-radius: 50px; padding: 5px 12px;}
/* .sign-right .anchor-button{width: 100%;} */
.signup-step-two{ align-content: center; flex-wrap: wrap; align-items: center; justify-content: center; height: 100%;}
.signup-step-two .verifi{color: var(--gray-color); margin-bottom: 10px;}
.signup-step-two .verifi .verifi-number{font-size: 16px; font-weight: 700; display: flex; align-items: center;}
.signup-step-two .editbtn{font-size: 12px; color: var(--green-color); border: 1px solid var(--green-color); border-radius: 50px; padding: 2px 8px;}
.signup-step-two .otp-code{gap: 10px; margin:10px 0 20px;}
.signup-step-two .otp-input{width: 25%; height: 48px; font-size: 26px; border: 1px solid var(--gray-color); border-radius: 8px; text-align: center;}
.signup-step-two .resend{width: 100%; color: var(--green-color); display: flex; align-items: center; justify-content: center; gap: 5px;}
.signup-step-two .resend svg path{stroke: var(--green-color);}
.sign-right .signup-step-two p{justify-content: center;}
/* signup-page-end */

.search-box .plp-list{padding: 0;}
.search-box .plp-right p{text-align: center; margin-bottom: 20px;}

.error-message{color: var(--red-color); font-size: 12px; margin-top: 5px;}
/* From Uiverse.io by alexruix */ 
.line-loader {
  width: 180px;
  height: 50px;
  position: relative;
}

.line-loader-text {
  position: absolute;
  top: -14px;
  padding: 0;
  margin: 0;
  color: #C8B6FF;
  animation: text_713 3.5s ease both infinite;
  font-size: 2rem;
  letter-spacing: 1px;
}

.line-load {

  background-color: #9A79FF;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.line-load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #D1C2FF;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}
/* Enhanced animations */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out forwards;
  opacity: 0;
}
/* Add this to your existing globals.css file */
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}
/* From Uiverse.io by roroland */ 
.loader {
  --col1: rgba(228, 19, 141, 0.925);
  --col2: rgb(255, 179, 80);
  font-size: 2em;
  font-weight: 600;
  perspective: 800px;
  position: relative;
}

.loader::after,
.loader::before,
.loader .text::after,
.loader .text::before {
  perspective: 800px;
  animation: anim 2s ease-in-out infinite, dotMove 10s ease-out alternate infinite, move 10s linear infinite 1s;
  ;
  content: '●';
  color: var(--col1);
  position: absolute;
  translate: -60px 500px;
  width: 5px;
  height: 5px;
}

.loader::before {
  animation-delay: 3s;
  color: var(--col1);
}

.loader .text::before {
  color: var(--col2);
  animation-delay: 2s;
}

.loader .text::after {
  color: var(--col2);
}

.loader .text {
  animation: anim 20s linear infinite, move 10s linear infinite 1s;
  color: transparent;
  background-image: linear-gradient(90deg, 
  var(--col1) 0%,
  var(--col2) 100%);
  background-clip: text;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: skew(5deg, -5deg);
  -webkit-background-clip: text;
  position: relative;
}

@keyframes anim {
  0%, 100% {
    text-shadow: 2px 0px 2px rgba(179, 158, 158, .5);
  }

  50% {
    background-size: 0%;
    background-position-x: left;
    text-shadow: 2px 10px 6px rgba(179, 158, 158, 1);
  }
}

@keyframes move {
  50% {
    translate: 0px 0px;
    rotate: x 60deg;
    transform: skew(-5deg, 5deg);
  }
}

@keyframes dotMove {
  0%, 100% {
    translate: -60px 300px;
  }

  50% {
    translate: 160px -250px;
    scale: .5;
    opacity: .85;
  }
}

  /* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 90%, 5%);
    --fg: hsl(var(--hue), 90%, 95%);
  }

  .loader_ring {
    stroke: hsla(var(--hue), 90%, 95%, 0.1);
  }
}

  /* Animations */
@keyframes worm1 {
  from,
    to {
    stroke-dashoffset: 0;
  }

  12.5% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -175.91;
  }

  25% {
    animation-timing-function: cubic-bezier(0, 0, 0.43, 1);
    stroke-dashoffset: -307.88;
  }

  50% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -483.8;
  }

  62.5% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -307.88;
  }

  75% {
    animation-timing-function: cubic-bezier(0, 0, 0.43, 1);
    stroke-dashoffset: -175.91;
  }
}

@keyframes worm2 {
  from,
    12.5%,
    75%,
    to {
    transform: rotate(0) translate(-42px, 0);
  }

  25%,
    62.5% {
    transform: rotate(0.5turn) translate(-42px, 0);
  }
}

@keyframes worm2-1 {
  from {
    stroke-dashoffset: 175.91;
    transform: rotate(0);
  }

  12.5% {
    animation-timing-function: cubic-bezier(0, 0, 0.42, 1);
    stroke-dashoffset: 0;
    transform: rotate(0);
  }

  25% {
    animation-timing-function: linear;
    stroke-dashoffset: 0;
    transform: rotate(1.5turn);
  }

  37.5%,
    50% {
    stroke-dashoffset: -175.91;
    transform: rotate(1.5turn);
  }

  62.5% {
    animation-timing-function: cubic-bezier(0, 0, 0.42, 1);
    stroke-dashoffset: 0;
    transform: rotate(1.5turn);
  }

  75% {
    animation-timing-function: linear;
    stroke-dashoffset: 0;
    transform: rotate(0);
  }

  87.5%,
    to {
    stroke-dashoffset: 175.92;
    transform: rotate(0);
  }
}
 
 
/* From Uiverse.io by cssbuttons-io */ 
.spcl-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
 .spcl-button.learn-more {
  width: 12rem;
  height: auto;
 }
 
 .spcl-button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
 }
 
 .spcl-button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 .spcl-button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 .spcl-button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 .spcl-button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 .spcl-button:hover .circle {
  width: 100%;
 }
 
 .spcl-button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 .spcl-button:hover .button-text {
  color: #fff;
 }

@media only screen and (min-width: 1919px) {
  .container {max-width: 1699px;}
}
@media only screen and (max-width: 1399px) {
.sign-left{width: 60%;}
.sign-right{width: 40%;}
}
@media only screen and (max-width: 1199px) {
.container{max-width: 100%;}
.attriheading{font-size: 36px;}
.attrilgheading{font-size: 30px;}
.attrimdheading{font-size: 24px;}
.attrismheading{font-size: 20px;}
.attrixsheading{font-size: 16px;}
.attrixxsheading{font-size:14px;}
.padding-tb{padding: 30px 0;}

.nutrition-main{width: 100%; gap: 20px;}
.take-right{align-content: center; gap: 20px 0px;}
.take-card{width: 50%; gap: 20px 10px;}
.take-card .take-icon{width: 100px; min-width: 100px; height: 100px; margin-right: 0px;}
.have-main .attriheading{line-height: 50px;}
.footer-left{width: 40%; min-width: 40%;}
.why-card{align-items: flex-start;}
.why-card .why-icon {width: 100px; height: 100px; margin-right: 15px;}
.sign-main{width: 100%;}
}

@media only screen and (max-width: 767px) {
.attriheading{font-size: 30px;}
.attrilgheading{font-size: 26px;}

.heading-top{margin-bottom: 20px;}
.heading-top .attriheading{line-height: 34px;}
.custom-tab .tabs{font-size: 14px; padding: 10px 15px;}
.inner-banner .attrilgheading{width: 80%; text-align: center;}

.nutrition-main{width: 100%; gap: 20px 0px;}
.nutrition-card{width: 33.33%; text-align: center; padding: 0 10px; gap: 10px;}
.nutrition-card .nutrition-icon {margin: 0 auto;}
.nutrition-card .attrixxsheading{width: 100%; max-width: 100%; font-size: 14px;}

.bestseller .custom-tab{width: 100%; overflow-x: auto;white-space: nowrap; display: block;}
.bestseller .custom-tab .tabs{display: inline-block;}

.take-main{flex-wrap: wrap;}
.take-main .take-left{width: 100%; min-width: 100%; margin-bottom: 30px;}
.take-left .attriheading{font-size: 40px; line-height: 46px;}
.take-right{justify-content: flex-start; gap: 20px 10px;}
.take-card{width: 48%; gap: 20px 10px;}
.take-card .take-icon{width: 80px; min-width: 80px; height: 80px; margin-right: 5px;}
.take-card .attrixxsheading{font-size: 14px; max-width: 90px;}

.have-main{width: 100%;}
.have-main .attriheading{line-height: 40px;}

.footer-left{width: 100%; min-width: 100%;}
.footer-left .footer-app{gap: 15px;}
.footer-app a{width: 45%;}
.footer-signup{text-align: center; margin-bottom: 20px;}
.footer-signup .anchor-button{width: 100%;}
.footer-right{width: 100%; flex-wrap: wrap; gap: 0;}
.footer-right .item{width: 100%;}
.footer-right .footer-col{border-top: 1px solid var(--white-color); padding: 15px 0; margin-bottom: 0px;}
.footer-right .footer-col:last-child {margin-bottom: 0px;}
.footer-right .footer-col .attrixxsheading{margin-bottom: 0;}
.footer-right .footer-col .attrixxsheading span{display: block;}
.footer-right .footer-col .attrixxsheading span svg path{fill: var(--white-color);}
.footer-right .footer-col .footer-list{border-top: 1px solid var(--white-color); padding-top: 15px;margin-top: 15px; display: none;}
.footer-right .footer-col.active .footer-list{display: block;}

.why-main {gap: 20px 0;}
.why-card{width: 100%; align-items: flex-start;}
.why-card .why-icon{width: 90px; height: 90px; margin-right: 10px;}

.sign-main{width: 95%;}
.sign-left{width: 100%; order: 2;}
.sign-right{width: 100%; padding: 20px;}
}